body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-image: url('w=960.avif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% 100%;
}
h1 {
	background-color: rgba(2, 3, 4, 0.5);
	border-radius: 10px;
	color: white;
}

hr {
	border-color: darkolivegreen;
	margin: 20px auto;
	border-width: 5px;
	max-width: 140px;
	opacity: 1;
}
.buffer {
	height: 5rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: darkolivegreen;
	border-color: darkolivegreen;
}

.btn-primary:hover {
	background-color: darkgreen;
	border-color: darkgreen;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}
